/* Variables */

:root {
    --on: #131313;
    --secondary: #777777;
    --white: #F9F9F9;
    --accent: #FF2121;
    --shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
    --rounded: 30px;
    --stroke-width: 1px;
    --animation: all ease 0.3s;
}

/* General */

::selection {
    background: var(--accent);
    color: var(--on);
}

html, body {
    background-color: var(--on);
    color: var(--on);
    height: 100%;
    margin: 50px 10%;
    max-width: 100%;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
    line-height: 50px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: var(--accent);
}

p, a{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

section {
    background-color: var(--white);
    border-radius: var(--rounded);
    max-width: 1000px;
    margin: auto;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
}

.section {
    padding: 25px 50px;
}

.off-text {
    color: var(--secondary);
}

.PlainLink {
    text-decoration: none;
    color:var(--on);
    transition: var(--animation);
}

.PlainLink:hover{
    color:  var(--accent);
    transform: translatex(3px);
}

hr {
    width: 100px;
}

/* Head */

.Head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
}

.pb {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
}

.Name {
    padding-left: 50px;
}

/* Information */

.InformationLink {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.InformationIcon {
    padding-right: 20px;
}

/* Links */

.LinkButton {
    display: flex;
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    padding: 0px 50px;
    border-radius: var(--rounded);
    transition: var(--animation);
    text-decoration: none;
    color: var(--on);
    margin: 25px 0px ;
}

.LinkButton:hover {
    color: var(--accent);
    transform: translateY(-3px);
}

/* CV */

.cv-element {
    border: solid var(--secondary) var(--stroke-width);
    padding: 25px 50px;
    border-radius: var(--rounded);
    transition: var(--animation);
    text-decoration: none;
    color: var(--on);
    margin: 25px 0px ;
}

.cv-element a {
    color: var(--on);
    transition: var(--animation);
    text-decoration: none;
}

.cv-element a:hover {
    color: var(--accent);
}

.cv-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.cv-title h2 {
    color: var(--on);
    margin: 0;
}
.cv-element p {
    margin: 0;
}
.cv-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.cv-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}
.skill-tag {
    font-size: 16px;
    padding: 2px 16px;
    border: solid var(--secondary) var(--stroke-width);
    border-radius: var(--rounded);
}

/* Mediaqueries */

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    .Head {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    html, body {
        margin: 1%;
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p, a{
        font-size: 18px;
        line-height: 30px;
    }

    .pb {
        width: 150px;
        height: 150px;
    }

    .Name {
        padding-left: 25px;
    }

    .Section {
        padding: 25px 30px;
    }

    .cv-element {
        padding: 16px 24px;
    }
    
}

@media screen and (max-width: 400px) {
    p, a{
        font-size: 14px;
        line-height: 25px;
    }
    .Section {
        padding: 10px 25px;
    }
}